h1 {
  color: red;
  text-align: center;
  font-weight: 400;
  font-size: 28;
}
p{
  color: blue;
  text-align: center;
  font-style: italic;
  font-weight: bold;
  font-family: monospace;
  font-size: 15;
  line-height: normal;
}
